.tab {
    -fx-pref-width: 191;
}

.tab-header-background {
    -fx-background-color:transparent;
}

/*.tab-pane{
    -fx-padding: 0 -1 -1 -1;
} */

.pane {
    -fx-background-radius: 5.0;
    -fx-padding: 8;
    -fx-background-color: #f2f7f7;
    -fx-border-color: #31353a;
    -fx-border-radius: 5.0;
}

.pane:hover {
    -fx-background-color: #dd1e08;
}

#feedMSG1:hover {
    -fx-background-color: #a9b4c6;
}

#feedMSG2:hover {
    -fx-background-color: #a9b4c6;
}

#feedMSG3:hover {
    -fx-background-color: #a9b4c6;
}

#feedMSG4:hover {
    -fx-background-color: #a9b4c6;
}

.label {
    -fx-font-size: 12px;
    -fx-font-style: italic;
}
